// ************
// Color Variables
// ************
$shamrock: #2CD4EA;
$turquoise: #4FE3C0;
$celadon: #99E09C;

// ************
// BREAKPOINTS
// ************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 400px;

$font-light: "Gotham-Light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-book: "Gotham-Book", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-medium: "Gotham-Medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$font-bold: "Gotham-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
